In [37]:
import pandas as pd

In [39]:
kdr = pd.read_csv("comuni.csv", skiprows= 1)

In [43]:
data = kdr[kdr.Età == 999]

In [45]:
data.drop(data.columns.difference(['Codice comune','Denominazione', 'Totale Maschi', 'Totale Femmine']), 1, inplace=True)

/Users/simoneazeglio/opt/anaconda3/envs/ipykernel_py3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [48]:
data["Totale Abitanti"] = data["Totale Maschi"] + data["Totale Femmine"]

<ipython-input-48-035cd5e7aec1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Totale Abitanti"] = data["Totale Maschi"] + data["Totale Femmine"]

In [49]:
data

,Codice comune,Denominazione,Totale Maschi,Totale Femmine,Totale Abitanti
101,1001,Agliè,1237,1398,2635
203,1002,Airasca,1873,1808,3681
305,1003,Ala di Stura,238,215,453
407,1004,Albiano d'Ivrea,808,838,1646
509,1006,Almese,3121,3257,6378
...,...,...,...,...,...
808043,111103,Villaputzu,2302,2363,4665
808145,111104,Villasalto,510,521,1031
808247,111105,Villasimius,1888,1842,3730
808349,111106,Villasor,3470,3450,6920
808451,111107,Villaspeciosa,1308,1289,2597

In [51]:
data.to_csv("comuni_final.csv")